<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp SignIn</title>
    <link rel="stylesheet" href="http://localhost:1000/css/signin.css">

</head>
<body>
    <div class="container">
        <h1>SignIn</h1>
        <form action="/auth/signin" method="post">
            <div class="error">
                <% if(locals.error) { %>
                    <h3><%= locals.error %></h3>
                <% } %>
            </div>
            <input type="text" placeholder="Username" name="username" required> <br>
            <input type="password" name="password" placeholder="password" > <br>
            <input type="submit" value="SignIn">
        </form>
    </div>
</body>
</html>